Repository antarctica/flask-entra-auth: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: ðŸ§ª test
  needs: []
  before_script:
  - - - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

ruff:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

safety:
  stage: ðŸ“‹ lint
  needs: []
  before_script:
  - - - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

build:
  stage: ðŸ— build
  needs: []
  before_script:
  - - python --version
    - python -m pip install --upgrade pip
    - python -m pip install pipx
    - python -m pipx install poetry==1.8.2
    - python -m pipx ensurepath
    - export PATH=/root/.local/bin:$PATH
    - poetry --version
  ...

Fixing allowed Flask versions
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: pytest, safety, build

Fixing joserfc dependency
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: pytest, safety, build

Adding support for arbitrary claims in mock tokens
  CHANGELOG.md
  README.md
  src/flask_entra_auth/mocks/jwt.py
  tests/test_mocks.py
Due: pytest, ruff, build

Tidying up
  CHANGELOG.md
  DEVELOPING.md
Due: none

Prepairing for release
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Changed scopes claim retrival to use the scp field instead of the scps to match the current spec.
  README.md
  src/flask_entra_auth/exceptions.py
  src/flask_entra_auth/mocks/jwt.py
  src/flask_entra_auth/token.py
  tests/app.py
  tests/conftest.py
  tests/test_app.py
Due: pytest, ruff, build

Path conditions:
  pytest: any of: **/*.py, pyproject.toml, poetry.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, poetry.lock
  build: any of: **/*.py, pyproject.toml, poetry.lock
